@font-face {
  font-family: 'Inter Family';
  src: url('../assets/fonts/Inter_28pt-Medium.ttf') format('truetype'),
}


* {
  max-width: 100%;
  /* Görsellerin ekranın dışına taşmasını engeller */
  height: auto;
  /* Görsellerin boyutunu orantılı olarak ayarlar */
  box-sizing: border-box;
  /* Tüm öğelerin genişlik ve yükseklik hesaplamalarında padding ve border'ı dahil eder */

}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter Family';
}

img {
  max-width: 100%;
  /* Resimler ekran genişliğine göre ölçeklendir */
  height: auto;
}

.container {
  max-width: 100%;
}

.nav-link {
  font-size: large;
}

.nav-link:hover {
  color: rgb(0, 89, 255) !important;
}

.nav-item {
  margin-top: 5px;
}

.navbar-brand {
  font-family: 'Inter Family';
  font-size: x-large;
}

.no-style {
  color: inherit;

}

.no-style:hover {
  color: inherit !important;
}

.no-style a{
  color: inherit !important;
  text-decoration: none !important;
}
.no-style a:hover{
  color: inherit !important;
  text-decoration: none !important;
}
.link-style a{
  color: inherit !important;
  text-decoration: none !important;
}
.link-style a:hover{
  color: rgb(136, 136, 136) !important;
  text-decoration: none !important;
}


.hover-effect img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hover-effect img:hover {
  transform: scale(1.1);
  /* Hafif büyütme */
  opacity: 0.8;
  /* Şeffaflık */
}
.hover-effect i {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hover-effect i:hover {
  transform: scale(1.1);
  /* Hafif büyütme */
  opacity: 0.8;
  /* Şeffaflık */
}

a {
  transition: color 0.2s ease;
  text-decoration: none;
}

footer a:hover {
  color: rgb(136, 136, 136) !important;
}

/* 
   Login Panel - Sosyal medya butonları için temel stiller
  */
.social-btn {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.3s;

}

/* Hover efekti - butonu yukarı kaldırır */
.social-btn:hover {
  transform: translateY(-3px);
}

/* Sosyal medya butonlarının marka renkleri */
.linkedin {
  border: 1px solid rgb(100, 98, 98);
}

.google {
  border: 1px solid rgb(100, 98, 98);
}

.facebook {
  border: 1px solid rgb(100, 98, 98);
}


/* 
   ANASAYFA 
  */




/* Ana kart container */
.section2-cards .card {
  height: 100%;
  /* Her kartın container yüksekliğini doldurmasını sağlar */
  display: flex;
  /* Flexbox düzeni kullanır */
  flex-direction: column;
  /* İçerikleri dikey olarak sıralar (resim üstte, yazı altta) */
  border: none;
  /* Kartların kenar çizgilerini kaldırır */
}

/* Kart içindeki resimlerin düzeni */
.section2-cards .card-img-top {
  height: 200px;
  /* Tüm kart resimlerini aynı yükseklikte tutar */
  object-fit: contain;
  /* Resimleri boyutlarını ve oranlarını koruyarak container'a yerleştirir */
  padding: 20px;
  /* Resimlerin etrafında boşluk bırakır */
}


/* Kart başlıklarının düzeni */
.section2-cards .card-title {
  margin-bottom: 15px;
  /* Başlık ile metin arasında boşluk bırakır */
  min-height: 48px;
  /* Tüm başlıkları aynı minimum yükseklikte tutar */
  display: flex;
  /* Flexbox düzeni kullanır */
  align-items: center;
  /* İçeriği dikeyde ortalar */
  justify-content: center;
  /* İçeriği yatayda ortalar */
  font-weight: bold;
  /* Başlık yazısını kalın yapar */
}

/* Kart içindeki açıklama metinlerinin düzeni */
.section2-cards .card-text {
  font-family: 'Inter Family';
}

/*Section 3*/


.sc1-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.sc1-card h5 {
  font-size: 18px;
  font-weight: bold;
}

.sc1-card p {
  font-size: 14px;
  color: #6c757d;
}

.sc1-card .features {
  font-size: 16px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 8px;
}

.sc1-card .features div {
  display: flex;
  flex: 0 0 45%;
  padding-left: 20px;

}

.sc1-card .features div i {
  margin-right: 5px;
  color: #000;
}

.sc1-card .features div a {
  text-decoration: none;
  color: #000;
}

.sc1-card .features div a:hover {
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.sc1-card .details-button {
  background-color: #007bff;
  color: white;
  border: none;
}
.sc1-card .details-button:hover {
  background-color: #0158b4;
  color: white;
  border: none;
}

/* ---------- Card Actions (Kart aksiyonları, paylaş- favoriye ekle- beğen ) ------------ */

/* Kalp ikonuna varsayılan boyut ve animasyon */
.toggle-heart {
  font-size: 18px; /* boyutu */
  transition: transform 0.2s ease, color 0.2s ease; /* Hover ve renk geçişleri için */
}

/* Üzerine gelince hafif büyüsün */
.toggle-container:hover .toggle-heart, 
.toggle-container:hover .toggle-compare,
.toggle-container:hover .toggle-share {
  transform: scale(1.2); /* Hafif büyütme */
}

.toggle-heart:active,.toggle-compare:active,.toggle-share:active {
  /* İkonun stilini değiştir */
  animation: tappingAnim 0.8s ease-in-out; /* Animasyon */
}
.toggle-heart:focus {
  color: red; /* Yeni renk */
  transform: scale(1.2); /* Büyütme */
}

/* Tıklayınca kırmızı olsun */
.toggle-heart.red {
  color: red;
}

.toggle-compare {
  user-select: none;
  font-size: 18px; /* boyutu */
  transition: transform 0.2s ease, color 0.2s ease; /* Hover ve renk geçişleri için */
}
.toggle-compare:focus{
  color: green;
}

.toggle-compare.green {
  color: green;
}
.toggle-share {
  user-select: none;
  font-size: 18px; /* boyutu */
  transition: transform 0.2s ease, color 0.2s ease; /* Hover ve renk geçişleri için */
}
.toggle-share:focus {
  color: orange;
}
.toggle-share.orange {
  color: orange;
}


@keyframes tappingAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}


/* ----------------------------------------------------------------------------------- */

.rating-stars {
  color: #ffc107;
}

.badge {
  font-size: 14px;
  padding: 5px 10px;
}


/*Section 4 */
#contact-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #ffffff;
}

#contact-section a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#contact-section a:hover {
  text-decoration: underline;
}



/* Filtreleme Css */

/* Form etiketlerinin stilini özelleştiriyoruz. */
.form-label {
  font-weight: bold;
  border: 2px solid #c8c8ca;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: white;
}

/* Mesafe slider'ının değerini ortalamak için stil tanımlıyoruz. */
.slider-value {
  text-align: center;
  margin-top: -10px;
}

/* Input grup etiketlerinin stilini ayarlıyoruz. */
.input-group-text {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}

/* Yıldızlı checkbox için stil tanımlıyoruz. */
.star-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: medium;
  margin-bottom: 1px;
}

/* Yıldız simgelerinin rengini sarı yapıyoruz. */
.star {
  color: yellow;
  font-size: 30px;
}

/* Checkbox'ların ortalanması için stil tanımlıyoruz. */
.center-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Mobil cihazlarda form etiketlerinin font boyutunu küçültüyoruz. */
@media (max-width: 768px) {
  .form-label {
    font-size: 14px;
    padding: 8px;
  }
}



/* Yorum bölümü Yıldızlı puanlama sistemi için CSS stilleri */
.rating {
  float: left;
  border: none;
}

.rating:not(:checked)>input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
}

.rating:not(:checked)>label:before {
  content: "★ ";
}

.rating>input:checked~label {
  color: #f70;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: gold;
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: #ea0;
}

.rating>label:active {
  position: relative;
}

/* Hakkımızda sayfası */
.breadcumps {
  text-align: left;
  width: 60%;
  /* Genişlik, isteğe bağlı ayarlanabilir */
  font-size: 20px;
  font-family: 'Inter Family';
}

.section {
  text-align: left;
  width: 100%;
  /* Genişlik, isteğe bağlı ayarlanabilir */
  font-size: 20px;
  font-family: 'Inter Family';
}

/*Kullanım sartlar sayfasi*/
.container-page {
  text-align: left;
  width: 60%;
  /* Genişlik, isteğe bağlı ayarlanabilir */
  font-size: 20px;
  font-family: 'Inter Family';
}

.page-body {
  /* display: flex;
  justify-content: center; */
  align-items: center;
  height: 100vh;
  margin: 0;
}

.page-content {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
  padding-top: 110px;
  text-align: center;
  font-family: 'Inter Family';
}


/* Arama Sonuçları sayfası */

       #search-page {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 20px;
    }

    .search-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .search-card {
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      overflow: hidden;
    }

    .search-card img {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      object-fit: cover;
      width: 100%;
      max-height: 150px;
    }

    .search-card .card-body {
      padding: 20px;
      position: relative;
    }

    .search-card .card-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      padding: 5px 10px;
      border-radius: 20px;
      background-color: #f8f9fa;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .search-card .info-icons {
      display: flex;
      gap: 10px;
      font-size: 14px;
      margin-bottom: 10px;
      align-items: center;
    }

    .search-card .info-icons i {
      margin-right: 5px;
    }

    .search-card .rating {
      color: #ffc107;
      font-size: 14px;
      margin-left: 10px;
    }

    .search-card .card-text {
      font-size: 14px;
      color: #555;
      margin-bottom: 15px;
    }

    .search-card .actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 10px;
    }

    .search-card .btn-secondary {
      font-size: 14px;
      padding: 5px 15px;
    }

    .search-card  .btn-primary {
      font-size: 14px;
      padding: 5px 15px;
    }

    .search-card .like-compare {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      gap: 10px;
    }

    .search-card .like-compare i {
      cursor: pointer;
      font-size: 18px;
    }

    .search-card .like-compare i:hover {
      color: #007bff;
    }
  

    /* Favoriler Listesi */

    .favorite ul li {
      list-style-type: none;
      display: flex;
  }

  .favorite .div-style {
      border-style: outset;
      padding-bottom: 15px;
  }

  .favorite .icon {
      width: 35px;
      height: 35px;
  }

  .favorite .cdn{
      font-size: 35px;
  }

  .favorite a:visited {
color: black;
}
.favorite a:active{
color:red;
}
.favorite a:link {
color: red;
}

/* Detaylar Sayfası  */
.details-main {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Ana resim */
#mainImage {
  width: 800px;
  height: 400px;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 10px;
}

/* Küçük resimler */
.details-main .thumbnail-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.details-main .thumbnail {
  width: 100px;
  height: 75px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s;
}

.details-main .thumbnail:hover {
  transform: scale(1.1);
}


.details-main .reviews-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.details-main .review-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.details-main .review-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 15px;
}

.details-main .review-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.details-main .review-header .name {
  font-weight: bold;
  flex: 1; /
}

.details-main .review-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-size: 14px;
  color: #777;
  width: 100%;
}

.details-main .rating {
  color: #ffc107;
  font-size: 14px;
  margin-left: 10px;
}

.details-main .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.details-main .pagination .page-link {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
  font-size: 14px;
}

.details-main .pagination .page-link:hover {
  text-decoration: underline;
}

.details-main .search-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.details-main .card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}

.details-main .card img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  width: 100%;
  max-height: 150px;
}

.details-main .card-body {
  padding: 20px;
  position: relative;
}

.details-main .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-main .info-icons {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  align-items: center;
}

.details-main .info-icons i {
  margin-right: 5px;
}

.details-main .card-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.details-main .actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.details-main .btn-secondary {
  font-size: 14px;
  padding: 5px 15px;
}

.details-main .btn-primary {
  font-size: 14px;
  padding: 5px 15px;
}

.details-main .like-compare {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.details-main .like-compare i {
  cursor: pointer;
  font-size: 18px;
}

.details-main .like-compare i:hover {
  color: #007bff;
}

/* Profile Güvenlik*/

.security-form-text{
  margin-top: 10px;
}
.security-form-input{

background-color: #f5f5f5;
border: none;
height: 40px;
border-radius: 8px;
margin-top: 10px;
}